<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NOTNULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.callor.persistence.MemoDTO" alias="MemoDTO"/>
	</typeAliases>

	<environments default="OracleConnection">
		<environment id="OracleConnection">
		<transactionManager type="JDBC" />

			<dataSource type="POOLED">
		
				<property name="drive" value="oracle.jdbc.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@server:1521:db" />
				<property name="username" value="admin" />
				<property name="password" value="1234" />


			</dataSource>
		</environment>
	</environments>


	<mappers>
		<mapper resource="com.callor.config.mapper.memo-mapper.xml" />
	</mappers>
</configuration>